<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout/layout}" id="head">
    <meta charset="UTF-8">
</head>
<body>
<header th:repleace="~{layout/layout}" id="header"></header>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center" th:text="${titulo}"></h1>
            <div class="card-body">
                <form th:action="@{/empleados/guardar}" th:object="${empleados}" method="post" style="max-width:600px; margin:0 auto;">
                    <input type="hidden" th:field="*{id}" th:value="${empleados.id}"/>
                    <div class="m-3">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Nombre completo:</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:error="*{nombre}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Puesto: </label>
                            <div class="col-sm-8">
                                <select th:field="*{puestos}" class="form-control" required>
                                    <th:block th:each="puestos : ${listaPuestos}">
                                        <option th:text="${puestos.nombre}" th:value="${puestos.id}"></option>
                                    </th:block>
                                </select>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Correo: </label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{correo_electronico}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('correo_electronico')}" th:error="*{correo_electronico}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">RFC: </label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{rfc}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('rfc')}" th:error="*{rfc}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Teléfono: </label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{telefono}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:error="*{telefono}"></small>
                            </div>
                        </div>
                    <div class="box-footer">
                        <a th:href="@{/talleres}" class="btn btn-secondary">Volver</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>