<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{layout/layout}" id="head">
    <meta charset="UTF-8">
</head>
<body>
<header th:repleace="~{layout/layout}" id="header"></header>

<div class="py-4 ml-5 mr-5">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{/empleados/registro}" class="btn btn-primary">Agregar empleados</a>
                <a th:href="@{/exportarPDF}" class="btn btn-secondary">Exportar a PDF</a>
                <a th:href="@{/exportarExcel}" class="btn btn-success">Exportar a Excel</a>
            </h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Correo</th>
                        <th>Rfc</th>
                        <th>Telefono</th>
                        <th>Documentos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empleados : ${empleados}">
                        <td style="font-size: 14px;" th:text="${empleados.id}"></td>
                        <td style="font-size: 14px;" th:text="${empleados.nombre}"></td>
                        <td style="font-size: 14px;" th:text="${empleados.puestos.nombre}"></td>
                        <td style="font-size: 14px;" th:text="${empleados.correo_electronico}"></td>
                        <td style="font-size: 14px;" th:text="${empleados.rfc}"></td>
                        <td style="font-size: 14px;" th:text="${empleados.telefono}"></td>
                        <td>
                            <a class="btn btn-info btn-sm" th:href="@{/empleados/servicios/} + ${empleados.id}">Servicios</a>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" th:href="@{/empleados/editar/} + ${empleados.id}">Editar</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger btn-sm" th:href="@{/empleados/eliminar/} + ${empleados.id}" onclick="return confirm('Estas seguro de eliminar al empleados?');">Eliminar</a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <nav th:replace="~{paginator-nav}" id="paginator"></nav>
         </div>
    </div>
</div>

<footer th:replace="~{layout/layout}" id="footer"></footer>
</body>
</html>